DEBUG=True
TEST_DATABASE=True
DB_NAME=db_name
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=mysecretpassword
DB_HOST=db_host_name
DB_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1,*
SECRET_KEY="some_secret_key"